<html ng-app="Sukari App">
    <head>
        <title>Sukari dating| Don't be Boring date the Sukari way</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Serif:ital@0;1&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="./stylesheets/style.css">
        <script src="./javascripts/jquery-3.5.1.min.js"></script>
        <script src="./javascripts/angular.min.js"></script>
        <script src="./javascripts/app.js"></script>
      </head>
      <body ng-controller="Forms">
        <div class="col-lg-12 col-xs-12 hol-2">
          <h1 class="a-b"><span style="color: gold">Sukari</span><span style="color: white;"> dating</span></h1>
          <p class="text-center">Dont be bored date the sukari way</p>
        </div>
          <div class="container">
            <p id="error" class="text-error">You have errors</p>
            <form class="form-vertical col-xs-12 col-lg-12 login-form" name="logf" ng-show="{{lo}}">
              <h3>Login to sukari dating</h3>
              <label>
                <input class="form-control" name="user" ng-model="user" required placeholder="username">
              </label>
              <label>
                <input type="password" class="form-control" ng-model="pass" required name="pass" placeholder="password">
              </label>
              <button class="btn btn-default" ng-click="check()">Login</button>
              
              <p>I am not yet a member <a href="/join">Sign up here</a></p>
              <p>Forgotten password <a href="/recover">Recover account</a></p>
            </form>
            <form class="col-xs-12 col-lg-12 join-form" name="joinf" ng-show="{{jo}}">
              <h3>Join sukari dating toady</h3>
              <label>
                <input type="email" class="form-control" ng-model="email"  name="email" placeholder="Email address" required>
              </label>
              <label>
                <input class="form-control" ng-model="user" name="user" placeholder="username" required>
              </label>
              <label>
                <input type="password" class="form-control" ng-model="pass"  name="pass" placeholder="password" required>
              </label>
              <button class="btn btn-default" ng-click="check2()">Join</button>
              <p>Already have an account <a href="/login">Login here</a></p>
              <p>Forgotten password <a href="/recover">Recover account</a></p>
            </form>
            <form class="col-xs-12 col-lg-12 recover-form" ng-show="{{re}}" name="recf">
              <h3>Enter your email address or username to find your acccount</h3>
              <label>
                <input class="form-control" ng-model="user" name="user" placeholder="username / email" required>
              </label>
              <button class="btn btn-default" ng-click="check3()">Find my account</button>
            </form>
            <form class="col-xs-12 col-lg-12 code-form" name="codf" ng-show="{{co}}">
              <h3>Enter the code sent to your email address:</h3>
              <label>
                <input class="form-control" required ng-model="code" name="code" placeholder="Enter the code sent to your email">
              </label>
              <button class="btn btn-default" ng-click="check4()">Recover my account</button>
            </form>
            <form class="col-xs-12 col-lg-12 update-form" name="updf" ng-show="{{up}}">
              <h3>Update the password for your account</h3>
              <label>
                <input required type="password" class="form-control" ng-model="pas"  name="pas" placeholder="Enter your new password">
              </label>
              <label>
                <input required type="password" class="form-control" ng-model="pass" name="pass" placeholder="Re-type your password">
              </label>
              <button class="btn btn-default" ng-click="check5()">Recover my account</button>
            </form>
          </div>
          <div class="nav fixed-bottom">
            <p class="text-center">All rights reserved sukari.co.ke &copy; 2021 </p>
          </div>
      </body>
    <script src="./javascripts/skroll.min.js"></script>
    <script src="./javascripts/bootstrap.min.js"></script>
    <script src="./javascripts/script2.js"></script>
</html>